.editor {
  position: relative;
  display: flex;
  gap: 10px;
  padding:  20px;
  border-top: 1px solid #ccc;
  background: #2563eb;
}

.editor input {
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 11px;
  font-size: 1rem;
  height: 100px;
}
.editor input:focus {
 outline: none;
}


.editor button {
  right: 30px;
  bottom: 30px;
  position: absolute;
  margin-left: 8px;
  font-size: 1.2rem;
  padding: 6px 12px;
  border: none;
  background-color: #ccc;
  color: white;
  border-radius: 4px;
  cursor: not-allowed;
  transition: 0.3s;
}

.active {
  background-color: #09328b !important;
  cursor: pointer !important;
}

.disabled {
  background-color: #ccc;
}
